<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
    <a href="/dogs/new" class="btn btn-primary" role="button">Add a Doggie</a>
    <ul class"list-group">
        <% for(var i = 0; i < dogs.length; i++) { %>
            <li class="list-group-item">
                <span>
                    <form action="dogs/<%= dogs[i]._id %>/delete/" method='post'>
                        <input type="submit" value="Delete" class="btn btn-default">
                    </form>
                    <br>
                <a href="/dogs/edit/<%= dogs[i]._id %>" class="btn btn-default">Edit Profile</a>
                    <br>
                    <b>Doggie Name:</b><p><a href="/dogs/<%= dogs[i]._id %>"><%= dogs[i].Name %></a></p>
                    <b>Breed:</b><p><%= dogs[i].Breed %></p>
                    <b>Age:</b><p><%= dogs[i].Age %></p>
                    <b>Favorite Treat:</b><p><%= dogs[i].Favorite_Treat %></p>
                </span>
            </li>
            <% } %>
    </ul>
</body>
</html>

